<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>UIApplicationSupportsIndirectInputEvents</key>
    <true/>
    <key>UIUserInterfaceStyle</key>
    <string>Dark</string>
    <key>UILaunchScreen</key>
    <dict>
        <key>UIColorName</key>
        <string>LaunchBackground</string>
    </dict>
    <key>UIRequiredDeviceCapabilities</key>
    <array>
        <string>accelerometer</string>
        <string>armv7</string>
        <string>wifi</string>
    </array>
    <key>UISupportedInterfaceOrientations</key>
    <array>
        <string>UIInterfaceOrientationLandscapeLeft</string>
        <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>UIStatusBarHidden</key>
    <true/>
    <key>UIRequiresFullScreen</key>
    <true/>
    <key>NSLocalNetworkUsageDescription</key>
    <string>MobilWheel needs local network access to connect to the racing server on your PC.</string>
    <key>NSBonjourServices</key>
    <array>
        <string>_mobilwheel._tcp</string>
    </array>
</dict>
</plist>
